<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <nb-card>
      <nb-card-body>

        <nb-actions size="medium">
          <nb-action icon="search-outline"
                     badgeText="99+"
                     badgeStatus="danger">
          </nb-action>
          <nb-action icon="power-outline"
                     badgeText="12"
                     badgePosition="bottom right"
                     badgeStatus="warning">
          </nb-action>
          <nb-action icon="person-outline"
                     badgeText="M"
                     badgePosition="top right"
                     badgeStatus="info">
          </nb-action>
        </nb-actions>

      </nb-card-body>
    </nb-card>


    <nb-card>
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
      <nb-card-footer>By Wikipedia</nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
